.row{
	position: fixed;
	top: 3%;
	width: 95%;
	display: table;
	clear: both;
	content: ""

}
.column{
	float: left;
	width: 20%;
	  transition: transform 0.5s;
	height: 80px;
  color:white;
  font-size:2em;
}
.column:hover{
	transform: scale(1.5);
}
body{
  padding:25px;
  background-image: url(2.jpg);
  color:black;
}
.dark-mode{
	background-color: rgb(41,43,64);
  background-image: url(1.jpg);
  color:white;
}

div{
	position: sticky;
	
	top: 0;
	z-index: 100;
}

.wzbj{
	background: rgba(500,500,500,0.7);
	margin-top:125px;
	margin-left:32.8px;
	width: 64.3%;
	height: 150%;
	position: absolute;
	z-index: 2;
}

.dark-mode2{
	background: rgba(41,43,64,0.7);
	margin-top:125px;
	margin-left:32.8px;
	width: 64.3%;
	height: 150%;
	position: absolute;
	z-index: 2;
}

.chicun1{
	width: 16%;
	padding-top: 10px;
	padding-left:30px;
	z-index: 3;
}

#words{
	margin-left: 30px;
	margin-right: 30px;
	
	position: absolute;
	z-index: 3;
}

td{
	text-align:center;
	font-size: 1.5em;
}
th{
	text-align:center;
	font-size: 1.5em;
}
.tab{
	border-style: dashed;
	border-color: pink;
}

.zp{
 width: 33%;
 
 margin-top: 40%;
 float: right;
 
}

#bg{
	background-image: url(background2.jpeg);
}


.anjian{
	position: sticky;
	bottom: 80px;
	float: right;
}


.home{
	
	position: sticky;
	width: 70px;
	height: 50px;
	 transition: transform 0.5s;
	background-color: rgb(199,186,206);

}
	
.home:hover{
	transform: scale(1.5);
}

.face{
	
	position: sticky;
	width: 70px;
	height: 70px;
	 transition: transform 0.5s;
	background-color: rgb(199,186,206);

}
	
.face:hover{
	transform: scale(1.1);
}

.weizhi{
	text-align: center;
	font-size: 1.5em;
}



.hoverr{
	width: 200px;
	height: 180px;
	margin: 10px;
	background-color: rgba(187,163,185,30%);
	transition: transform 0.5s;
	font-size: 2em;
	font-family: cursive;
	text-align: center;
	color: white;
}

.hoverr:hover{
	transform: scale(1.1);
	background-color: rgb(239,197,149);
}

a{
	text-decoration: none;
	color: white;
}

.formula{
	position: absolute;
	top: 23%;
	right: 15%;
	width: 65%;
	height: 70%;
	color: rgb(150,147,120);
	background-color: rgba(187,163,185,30%);
}

.ziti{
	font-size: 3em;
	color: rgb(150,147,120);
}

#daxiao{
	width: 15%;
	margin: 30px;
}

#bg1111{
	background-image: url(背景1111.jpg);
}

.meme{
	font-size: 7em;
	font-family: cursive;
	color: orange;
}

#daxiao1{
	margin: 70px;
}